@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

*::before, *::after{
    padding: 0;
    margin: 0;
}
  
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(207, 207, 207);
}

.container{
    width: 350px;
    height: 650px;
    padding: 25px 30px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    background: linear-gradient(#e846cd 0%, #4e9ac9 90%);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.342);
     background-blend-mode: screen;
}

.container i{
    cursor: pointer;
}
  
.top-bar, .progress-area .song-timer, .controls, .musiclist .header, .musiclist ul li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar i{
    font-size: 30px;
    color: #ffffff;
}
  
.top-bar i:first-child{
    margin-left: -7px;
    font-size: 22px;
}
  
.top-bar span{
    font-size: 18px;
    margin-left: -3px;
    color: #ffffff;
}

.img-area{
    width: 100%;
    height: 280px;
    overflow: hidden;
    margin-top: 25px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px #ffffff,
      0 0 2px #fff,
      13px 13px 20px #31313163,
      -10px -10px 20px #e6f6ff;
  
}
  
.img-area img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.song-details{
    text-align: center;
    margin: 30px 0;
}
  
.song-details p{
    color: #f4eeee;
}
  
.song-details .name{
    font-size: 21px;
}
  
.song-details .artist{
    font-size: 15px;
    line-height: 35px;
}
  
.progress-area{
    height: 6px;
    width: 100%;
    border-radius: 50px;
    background: #17050572;
    cursor: pointer;
}
  
.progress-area .progress-bar{
    
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    background: #ffffff;
}

.progress-bar::before{
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: 50%;
    right: -5px;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
    background: inherit;
    transition: opacity 0.2s ease;
}

.progress-area:hover .progress-bar::before{
    opacity: 1;
    pointer-events: auto;
}

.progress-area .song-timer{
    margin-top: 2px;

}
.song-timer span{
    font-size: 13px;
    color: #ffffff;
}

.controls{
    margin: 70px 0 5px 0;
}
  
.controls i{
    font-size: 28px;
    user-select: none;
    background:#0d0202;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.controls i:nth-child(2), .controls i:nth-child(4){
  font-size: 43px;
}

.musiclist{
    
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 15px 30px;
    left: 0;
    background: #ef9df2;
    border-radius: 15px;

    bottom: -50%; 
    opacity: 0;

}

.musiclist.show{
    bottom: 0;
    opacity: 1;
    
}

.musiclist ul li{
    list-style: none;
    display: flex;
    cursor: pointer;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom:  1px solid #e5e5e5;
}


.header .row{
    display: flex;
    align-items: center;
    font-size: 19px;
    color: #515c6f;
}

  
.musiclist ul li:hover{
    color: #0e9fff;
}

ul li.playing{
    pointer-events: none;
    color: #0e9fff;
}

  
  
  

  



  
  


  

  




  
  
  
  
  
  
  